/* HEADER */

.bg-dark{
    background-color: rgba(0, 0, 0, 0.865) !important;
}

.navbar-brand img{
    width: 20%;
}

.nav-link{
    color: white !important;
}

header{
    background-image: url("../img/header.jpg");
    background-size: cover;
    

    padding-bottom: 200px;
    color: map-get($coloresSitio, blanco);


    figure{
        width: 20%;
        text-align: center;
        padding-top: 3%;
    }

    h1,p,nav{
        text-align: center;
    }

    p{
        width: 290px;
        margin: 0 auto;
        letter-spacing: 2px;
    }

    img{
        width: 150px;
    }

    nav{
        margin-top: 10px;
    height: 200px;
    padding-top: 4%;
    color: map-get($coloresSitio, blanco);
        ul{
            li{
                list-style-type: none;
                text-align: center;

                a{
                    font-size: 16px;
                    a:hover{
                        color: map-get($coloresSitio, blanco);
                    }
                }
            }
        }
    }
}

/* MIXIN */
@mixin boton ($color){

    border-radius: 50px;
    border: 0;

    text-decoration: none;
    color: map-get($coloresSitio, blanco);
    text-transform: uppercase;
    padding: 5px 15px;
    background-color: $color;

    @if $color == map-get($coloresSitio, blanco){
        letter-spacing: 2px;
    }else{
        letter-spacing: 0;
    }
}


.enlaceReservar{
    @include boton(map-get($coloresSitio, destacado));
}




.platos{
    text-align: center;
    animation: aparecePlatos 4s;
}

@keyframes aparecePlatos{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
}

.platos p{
    margin-bottom: 20px;
}