/* SECCIONES FOTO FONDO */


%Flexbox{
    display: flex;
    flex-wrap: wrap;
}

#menu{
    background-image: url("../img/comida.jpg");
    background-size: contain;

    padding: 3% 0 4% 0;

    @extend %Flexbox;   
    justify-content: center; 
}

/*Aplicando VARIABLE*/
$colorBlanco: map-get($coloresSitio, blanco);



#menu h2{
    color: map-get($coloresSitio, blanco);
    width: 100%;
}

#menu article{
    background-color: map-get($coloresSitio, blanco);
    width: 16%;
    padding: 1%;
    margin: 0 1%;
    min-height: 270px;

    text-align: center;
    box-shadow: 0px 0px 30px -2px rgba(0, 0, 0,1);
}

#menu article h3{
    padding: 1% 0 1% 0;
}

/*aplico operacion*/
$tamanoFuente: 16px;

#menu article p{
    font-size: $tamanoFuente/2;
    padding: 1%;
    margin:0;
}

#menu article h4{
    width: 25%;
    background-color: map-get($coloresSitio, destacado);
    padding: 2%;
    color: map-get($coloresSitio, blanco);
    margin:0 auto;
}


#menu article figure img{
    width: 100%;
    object-fit: cover;
}

.menuTexto{
    color: map-get($coloresSitio, gris);
}

#seccionFondoDos{
    height: 150px;
    background-image: url("../img/fondo_1.jpeg");   
    background-size: cover;
}
/* PROPUESTA */

#propuesta{
    position: relative;
    height: 250px;
}

.propuestaInfo {
    width: 66%;
    background-color: map-get($coloresSitio, blanco);
    position: absolute;
    top: -180px;
    left:17%;

    padding: 15px;

    display: flex;
    flex-wrap: nowrap;
}

.propuestaInfo div:last-of-type{
    margin-left: 15px;
}

.propuestaInfo h2{
    border-bottom: map-get($coloresSitio, destacado) solid 3px;
}


/* CLIENTES */  

#clientes{

    padding: 0 10% 3% 10%;
    display: grid;

    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    grid-gap: 20px;
    text-align: center;
}

#clientes article{
    padding: 5%;
    box-shadow: 0px 0px 10px -2px rgba(181,181,181,0.57);
    transition: box-shadow 1s;
}

#clientes article:hover{
    padding: 5%;
    box-shadow: 0px 0px 10px -2px rgba(230, 186, 11,0.57);
}

#clientes article figure img{
    width: 30%;
    border-radius: 50%;
}

#clientes h2{
    grid-column: 1/4;
    grid-row: 1/2;
}

#clientes article:nth-child(1){
    grid-column: 1/2;
    grid-row: 2/3;
}

#clientes article:nth-child(2){
    grid-column: 1/2;
    grid-row: 3/4;
}

#clientes article:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/4;
    padding-top: 20%;
}

#clientes article:nth-child(4){
    grid-column: 3/4;
    grid-row: 2/3;
    
}

#clientes article:nth-child(5){
    grid-column: 3/4;
    grid-row: 3/4;
    
}

#clientes figure img{
    width: 100%;
}


#clientes p{
    font-size: 14px;
    margin: 5% 2%;
}

#clientes span{
    color: map-get($coloresSitio, destacado);
}

@media screen and (min-width:321px) and (max-width:768px) {

    #clientes{
        /*display: flex;
    flex-wrap: wrap; */}
    
    #clientes h2{
        /*width: 100%;*/
    }

    #clientes article{
        /*width: 75%;*/
    }

    #clientes article:nth-child(3){
        padding-top: 5%;
    }
    
}

@media screen and (min-width:768px) and (max-width:1024px) {

    #clientes{
      /*  display: flex;
        flex-wrap: wrap; */  }
    
   /* #clientes h2{
        width: 100%;*/
    }

    /*#clientes article{
        width: 35%;*/
    }

    #clientes article:nth-child(3){
        padding-top: 5%;
        display: none;
    }
    
}

/* LOCALES */
/*
#locales h2{
    width: 100%;
}
#locales{
    padding: 3% 0;

    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
*/


#locales article{
    background-color: map-get($coloresSitio, blanco);
    /*width: 20%;*/
    padding: 1%;
    margin: 1%;

    text-align: center;
    border: 1px solid rgba(181,181,181,0.3);
    /*box-shadow: 0px 0px 10px -2px rgba(181,181,181,0.57);
    */
    transition: box-shadow 1s;
}

#locales article:hover{
box-shadow: 0px 0px 10px -2px rgba(230, 186, 11,0.57);
}

#locales article figure img{
    width: 100%;
    object-fit: cover;
}


#locales article p{
    font-size: 14px;
}

#locales article h3{
    padding: 3%;
}


/* RESERVAS */

#reservas{
    height: 300px;
    background-image: url("../img/pizza.jpg");
    background-size: cover;
    color: map-get($coloresSitio, blanco);

    padding-top: 2%;
}
