/* SECCIONES FOTO FONDO */



%Flexbox{
    display: flex;
    flex-wrap: wrap;
}

#menu{
    background-image: url("../img/comida.jpg");
    background-size: contain;
    background-attachment: fixed;


   /* @extend %Flexbox;   */
    /*justify-content: center; */
}

/*Aplicando VARIABLE*/
$colorBlanco: map-get($coloresSitio, blanco);



#menu h2{
    color: map-get($coloresSitio, blanco);
}

#menu article{
    background-color: map-get($coloresSitio, blanco);
    padding: 1%;
    margin: 0 1%;

    text-align: center;
    box-shadow: 0px 0px 30px -2px rgba(0, 0, 0,1);
}

#menu article h3{
    padding: 1% 0 1% 0;
}

/*aplico operacion*/
$tamanoFuente: 16px;

#menu article p{
    font-size: $tamanoFuente;
    padding: 1%;
    margin:0;
}

#menu article h4{
    background-color: map-get($coloresSitio, destacado);
    padding: 2%;
    color: map-get($coloresSitio, blanco);
}


#menu article figure img{
    object-fit: cover;
}

.menuTexto{
    color: map-get($coloresSitio, gris);
}

#seccionFondoDos{
    height: 150px;
    background-image: url("../img/fondo_1.jpeg");   
    background-size: cover;
    background-attachment: fixed;
}
/* PROPUESTA */

#propuesta{
    height: 250px;
}

.propuestaInfo {
    background-color: map-get($coloresSitio, blanco);
    

   
}

.propuestaInfo div:last-of-type{
    margin-left: 15px;
}

.propuestaInfo h2{
    border-bottom: map-get($coloresSitio, destacado) solid 3px;
}


/* CLIENTES */  

#clientes{

    /*display: grid;

    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    grid-gap: 20px;*/
    text-align: center;
}

#clientes article{
    box-shadow: 0px 0px 10px -2px rgba(181,181,181,0.57);
    transition: box-shadow 1s;
}

#clientes article:hover{
    box-shadow: 0px 0px 10px -2px rgba(230, 186, 11,0.57);
}

#clientes p{
    font-size: 14px;
}

#clientes span{
    color: map-get($coloresSitio, destacado);
}




#locales article{
    background-color: map-get($coloresSitio, blanco);
    /*width: 20%;*/
    padding: 1%;
    margin: 1%;

    text-align: center;
    border: 1px solid rgba(181,181,181,0.3);
    /*box-shadow: 0px 0px 10px -2px rgba(181,181,181,0.57);
    */
    transition: box-shadow 1s;
}

#locales article:hover{
box-shadow: 0px 0px 10px -2px rgba(230, 186, 11,0.57);
}

#locales article figure img{
    width: 100%;
    object-fit: cover;
}


#locales article p{
    font-size: 14px;
}

#locales article h3{
    padding: 3%;
}


/* RESERVAS */

#reservas{
    background-image: url("../img/4.png");
    background-attachment: fixed;
    background-size: cover;
    color: map-get($coloresSitio, blanco);

    padding-top: 2%;
}
 
form input, form textarea{
    background-color: rgba(255, 255, 255, 0.838);
    color:black;
    border: grey;
    resize: none;
    transition: all 1s;
    padding-left: 10px;
}

input:focus, textarea:focus{
    background-color: rgba(230,186,11,0.7);
    color: black;
}

form input::placeholder, form textarea::placeholder{
    color: black;
    padding-left: 10px;
}

input[type="submit"]{
    background-color: rgb(230, 186, 11);
    color:white;
}

input[type="submit"]:hover{
    background-color: rgb(162, 130, 0);
    color:white;
}